<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
    *{
        padding: 5px;
    }
    table{
        border-collapse: collapse;
        border: 1px solid black;
        width: 100%;
        padding: 5px;
        th,td,tr {
            border: 1px solid black;
        }
    }
</style>
</head>
<body>
  <h2 class="uname">Username:</h2>
  <h2 class="uid">User Id:</h2>
  <h2 class="role">User Role:</h2>
  <table>
      <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Create At</th>
        </tr>
      </thead>
      <tbody id="users">

      </tbody>
  </table>

  <script>
    let u;
    const uname = document.querySelector('.uname');
    const uid = document.querySelector('.uid');
    const role = document.querySelector('.role');
    function formatDate(isoString) {
        if (!isoString) return '';

        const date = new Date(isoString);
        const day = String(date.getDate()).padStart(2, '0');
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const year = date.getFullYear();

        return `${day}/${month}/${year}`;
    }
    fetch('/api/users')
      .then(res => res.json())
      .then(data => {
          u = data;
          const tableBody = document.getElementById("users");
          data.forEach(item => {
              const row = document.createElement("tr");
              row.innerHTML = `
                <td>${item.id}</td>
                <td>${item.username}</td>
                <td>${item.email}</td>
                <td>${item.address}</td>
                <td>${item.phone}</td>
                <td>${formatDate(item.createdAt)}</td>
                `;
          tableBody.appendChild(row);
        });
      })
      .catch(err => console.error('Lỗi fetch:', err));

    fetch('api/auth/currentUser', {
        method: 'GET',
        credentials: 'include'
    })
        .then(res => {
            if (!res.ok) {
                uname.textContent = 'Cant get username';
                uid.textContent = 'No Id loaded';
                role.textContent = 'Not Found';
                throw new Error(`HTTP error! Status: ${res.status}`);
            }
            return res.json();
        })
        .then(data => {
            uname.textContent = data.username;
            uid.textContent = data.Id;
            role.textContent = data.role;
        })
        .catch(err => console.error(err))


  </script>
</body>
</html>